footer {
    margin-top: 30px;
    background-color: rgb(14, 14, 14);
    padding: 40px;
    padding-right: 200px;
}

#nãonosresponsabilizamos {
    margin-top: 120px;
    position: absolute;
    right: 10px;
    color: rgb(66, 66, 66);
}

#logo {
    width: 80px;
    margin-top: auto;
    margin-left: 160px;
    display: block;
}

#© {
    margin-top: 120px;
    position: absolute;
    left: 10px;
    color: rgb(255, 255, 255);
    font-size: 13px;
}